{{#> _layout title="Ação Realizada em Solicitação" preferencesUrl=preferencesUrl}}
  <p>Olá, <strong>Administrador</strong>!</p>
  <p>
    Uma ação foi registrada em uma solicitação cirúrgica e requer sua atenção:
  </p>

  <div class='info-box'>
    <p><strong>Ação:</strong> {{actionLabel}}</p>
    <p><strong>Realizada por:</strong> {{actorName}}</p>
    <p><strong>Paciente:</strong> {{patientName}}</p>
    <p><strong>Protocolo:</strong> #{{requestId}}</p>
    <p><strong>Data/Hora:</strong> {{actionAt}}</p>
  </div>

  {{#if dashboardUrl}}
    <p style='text-align: center; margin: 26px 0;'>
      <a class='btn' href='{{dashboardUrl}}'>Ver Detalhes</a>
    </p>
  {{/if}}
{{/_layout}}
